{% extends "base.html" %} {% block title %}about{% endblock %} 
{% block content%}
<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
</head>
<body>

    <main>
        <div class="content">
            <h1 class="header">About Us</h1>
            <p class="para">
                This web application is a robust data visualization tool designed for ease of use and flexibility. 
                It allows users to upload CSV files for analysis and provides a range of customization features to tailor the data presentation to the user’s needs. 
                With its intuitive interface and powerful data handling capabilities, it offers a seamless experience for data exploration and interpretation. 
            </p>
            <p class="para">
                Built by a team of ambitious students from CSULA, rest assured all your data visualization needs will be met here. 
            </p>
        </div>
    </main>
    <footer class="footer">
        <p>Copyright &copy; 2024 Visulyfe</p>
    </footer>
</body>
</html>
{% endblock %}